<div
  class="bg-gray-800 text-white font-sans text-xl leading-tight tracking-tight"
>
  <header class="flex flex-row align-middle p-4">
    <a href="/"
      ><img
        src="/assets/nightingale-logo.png"
        width="200"
        alt="Nightingal Logo"
    /></a>
    <nav aria-label="menu nav" class="bg-gray-800">
      <ul class="flex flex-row align-middle">
        <li>
          <a
            class="block mx-4 p-4 rounded hover:bg-slate-600"
            routerLink="metals"
            routerLinkActive="bg-slate-500"
            ariaCurrentWhenActive="page"
            >Metals</a
          >
        </li>
        <li>
          <a
            class="block mx-4 p-4 rounded hover:bg-slate-600"
            routerLink="woods"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Woods</a
          >
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <div class="flex flex-col md:flex-row">
      <nav aria-label="alternate nav"></nav>
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
